<h1>Editing petrol station</h1>

<%= render "form", petrol_station: @petrol_station %>

<br>

<div>
  <%= link_to "Show this petrol station", @petrol_station %> |
  <%= link_to "Back to petrol stations", petrol_stations_path %>
</div>
