<div id="<%= dom_id post_date %>">
  <p>
    <strong>Title:</strong>
    <%= post_date.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post_date.user_id %>
  </p>

  <p>
    <strong>Petrol station:</strong>
    <%= post_date.petrol_station_id %>
  </p>

</div>
